$container-xl: 75rem; // 1200px
$container-lg: 57rem; // 912px
$container-md: 43rem; // 688px
$container-sm: 31rem; // 496px

.container {
  @include container();
  @include sm(max-width, #{$container-sm});
  @include md(max-width, #{$container-md});
  @include lg(max-width, #{$container-lg});
  @include xl(max-width, #{$container-xl});
}

.row {
  @include row-flex();
}

@mixin trans($prop, $timing-function, $dur) {
  transition: {
    property: $prop;
    @if $dur {
      duration: $dur;
    } @else {
      duration: $duration;
    }
    timing-function: $timing-function;
  }
}