.solutions {
    @include padding('top', 'section');
    @include padding('bottom', 'section');
    &__row {
        @include margin('bottom', 'heading');
    }
    &__title {
        @include col();
        @include size(12);
    }
    &__slide {
        display: flex;
        height: auto;
    }
    &__img {
        position: relative;
        left: rem(-30);
    }
}