.bg-slider {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    &__slide {
        width: 100vw;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &:after, &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

        }
        &:after {
            background-color: $blue;
            opacity: .6;
        }
        &:before {
            background-color: #005AAB;
            opacity: .1;
        }
    }
}