mixin more()
    .more
        .more__language
            ul.more__language-list
                li.more__language-item
                    a.more__language-link(href="#") O'ZB
                li.more__language-item
                    a.more__language-link.more__language-link_active(href="#") Рус
                li.more__language-item
                    a.more__language-link(href="#") Eng
        .more__contacts
            ul.more__contacts-list
                li.more__contacts-item
                    p.more__contacts-number 998 71 276 64 98
                li.more__contacts-item
                    p.more__contacts-direct Колл-центр