.more {
    display: flex;
    &__language {
        display: flex;
        align-items: center;
        margin: {
            right: rem(19);
        }
        &-list {
            margin: auto 0;
            display: flex;
        }
        &-link {
            text-decoration: none;
            margin-right: rem(13);
            color: $white;
            transition: color $duration linear;
            font-size: $text-smallest;
            &_active {
                color: $yellow;
            }
            &:hover {
                color: $yellow;
                transition: color $duration linear;
            }
        }
    }
    &__contacts {
        position: relative;
        &:before {
            content: '';
            display: inline-block;
            width: rem(1);
            height: rem(40);
            position: absolute;
            left: -2.125rem;
            background-color: $white;
        }
        margin: {
            left: rem(34);
        }
        &-number {
            color: $white;
            font: {
                size: $text-large;
                weight: bold;
            }
        }
        &-direct {
            color: $white;
            font: {
                size: $text-smallest;
                weight: bold;
            }
        }
    }
}