.header {
    height: 100vh;
    overflow: hidden;
    &__content {
        @media (max-width: $break_md) {
            position: relative;
            padding-top: 0; 
        }
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: rem(37);
    }
    &__container {
        height: 100%;
    }
}