.header {
    height: 100vh;
    min-height: 300px;
    overflow-x: hidden;
    &__content {
        @media (max-width: $break_md) {
            position: relative;
            padding-top: 0; 
        }
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 37px;
    }
    &__container {
        height: 100%;
    }
    &__main-nav {
        @include margin('bottom', 'heading');
    }
    &__title-slider{
        margin-top: auto;
        @include margin('bottom', 'heading');
    }
    &__pagination {
        margin-top: auto;
        @include margin('bottom', 'heading');
    }
}