include ../../components/hamburger/hamburger
include ../../components/main-nav/main-nav
include ../../components/bg-slider/bg-slider
include ../../components/title-slider/title-slider
include ../../components/pagination/pagination
include ../../components/sidebar/sidebar


mixin header()
    header.header
        +hamburger
        +sidebar
        +bg-slider
        .header__content
            +main-nav({
                class: 'header__main-nav'
            })
            +title-slider
            +pagination({
                class: 'header__pagination'
            })