.catalog-modal {
    @media (max-width: $break_lg) {
        padding: {
            top: 38px;
            bottom: 32px;
        }
    }
    @media (max-width: $break_md) {
        padding-right: 16px;
        padding-left: 40px;
    }
    @media (max-width: $break_sm) {
        padding-right: 0;
    }
    background: $light-blue;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding-right: 52px;
    padding-top: 65px;
    padding-bottom: 40px;
    padding-left: 80px;
    overflow-y: hidden;
    transform: translateX(-100%);
    transition: {
        property: transform;
        timing-function: ease-out;
        duration: .7s;
        delay: .7s;
    }
    &__wrapper {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
    }
    &__inner {
        @media (max-width: $break_sm) {
            display: flex;
            align-items: center;
        }
    }
    &__container {
        visibility: hidden;
        opacity: 0;
        transition: {
            property: visibility, opacity;
            delay: .7s, 0s;
            timing-function: ease-out;
            duration: .7s;
        }
    }
    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    &__item {
        width: 25%;
        @include lg(width, 33.3333%);
        @include md(width, 50%);
        @include sm(width, 100%);
    }
    &__offer {
        padding-bottom: rem(6);
        @media (max-width: $break_sm) {
            padding: {
                left: 0;
                right: 0;
                top: 21px;
                bottom: 21px;
            }
            display: flex;
            align-items: center;
        }
    }
    &__icon {
        @media (max-width: $break_sm) {
            max-width: 15%;
            margin-right: 28px;
            // margin-bottom: 0;
        }
    }
    &__text {
        @media (max-width: $break_sm) {
            max-width: 65%;
            font: {
                weight: 100;
            }
        }
    }
    &_active {
        transform: translateX(0);
        transition: {
            property: transform;
            timing-function: ease-in;
            duration: .7s;
            delay: 0s;
        }
        .catalog-modal__container {
            visibility: visible;
            opacity: 1;
            transition: {
                property: visibility, opacity;
                delay: 0s, .7s;
                timing-function: ease-in;
                duration: .7s;
            }
        }
    }
    .products {
        padding-bottom: 0;
    }
}