include ../../../views/helpers/mixins.pug
mixin sidebar()
    aside.sidebar
        .sidebar__wrp
            +icon({
                class: 'svg-icon svg-icon_theme_blue sidebar__logo',
                name: 'logo'
            })
            .sidebar__title-wrp
                .sidebar__title
                    p.sidebar__text Каталог товаров
                    +icon({
                        class: 'svg-icon svg-icon_theme_white sidebar__icon',
                        name: 'grid'
                    })
            .square.square_theme_blue.sidebar__square