.title-slider {
    // @media (max-width: $break_md) {
    //     margin: auto 0;
    // }
    &__heading {
        @media (max-width: $break_xs) {
            line-height: rem(34);
        }
        color: $yellow;
        margin-bottom: rem(18);
    }

    &__text {
        @media (max-width: $break_xl) {
            font-size: fontSize($text-large, $text-normal)
        }
        @media (max-width: $break_xs) {
            font-size: rem($text-normal);
        }
        font: {
            size: rem($text-large);
        }
        color: $white;
    }
    &__slide {
        padding-bottom: rem(10);
        &-wrp {
            @include col();
            @include size(8);
            @include size-md(10);
            @include size-sm(12);
        }
    }
    &__square {
        position: absolute;
        left: rem(18);
        bottom: rem(2);
        transition: bottom $duration linear;
    }
    &__btn {
        @media (max-width: $break_md) {
            display: none;
        }
        &:hover {
            .title-slider__square {
                bottom: rem(-5);
                transition: bottom $duration linear;
            }
        }
    }
}