mixin menu()
    nav.menu
        ul.menu__list
            li.menu__item
                a.menu__link.text_small(href="#") Решения
            li.menu__item
                a.menu__link.text_small(href="#") Портфолио
            li.menu__item
                a.menu__link.text_small(href="#") О нас