.menu {
    @media (max-width: $break_md) {
        width: 100%;
        height: 62%;
        min-height: rem(356);

        padding: {
            top: rem(80);
            right: rem(40);
            bottom: rem(80);
            left: rem(40);
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        @media (max-width: $break_md) {
            flex-direction: column;
        }
    }
    &__item:not(:last-child) {
        @media (max-width: $break_md) {
            margin-right: 1.275rem;
            margin-bottom: rem(24);
        }
        margin-right: rem(30);
    }
    &__link {
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        color: $white;
        font-size: rem($text-smallest);
        @media (max-width: $break_md) {
            font-size: rem(18);
            font-weight: bold;
        }
        padding: {
            top: 0;
            right: 0;
            bottom: rem(10);
            left: 0;
        }
        &:before {
            content: '';
            display: inline-block;
            width: rem(0);
            transition: width $duration linear;
            height: rem(1);
            background-color: $yellow;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        &:hover {
            &:before {
            width: rem(29);
            transition: width $duration linear;
            }
        }
        &_active {
            position: relative;
            &:before {
                content: '';
                display: inline-block;
                width: rem(29);
                height: rem(1);
                background-color: $yellow;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
}