mixin menu()
    nav.menu
        ul.menu__list
            li.menu__item
                a.menu__link(href="#") Решения
            li.menu__item
                a.menu__link(href="#") Портфолио
            li.menu__item
                a.menu__link(href="#") О нас