mixin title-slider()
    section.title-slider
        .container
            .row
                .title-slider__wrp.swiper-container
                    .swiper-wrapper
                        .title-slider__slide.swiper-slide
                            .title-slider__slide-wrp
                                h1.title-slider__heading.h1-heading  Новое поступление шиномонтажных станков
                                p.title-slider__text Автоматический ввод трех  параметров, LCD монитор,  мультиоператор, aludata, 220В
                                a.btn.btn_theme_yellow.text_smallest Подробнее
                                    .btn__square.btn__square_theme_yellow
                        .title-slider__slide.swiper-slide
                            .title-slider__slide-wrp
                                h1.title-slider__heading.h1-heading  Квартирный вопрос решен на всегда, ура
                                p.title-slider__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, voluptatem!
                                a.btn.btn_theme_yellow.text_small Подробнее
                                    .btn__square.btn__square_theme_yellow
                        .title-slider__slide.swiper-slide
                            .title-slider__slide-wrp
                                h1.title-slider__heading.h1-heading  Ваше будущее должно быть только в ваших руках
                                p.title-slider__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, blanditiis consequatur?
                                a.btn.btn_theme_yellow.text_small Подробнее
                                    .btn__square.btn__square_theme_yellow