.title-slider {
    @media (max-width: $break_md) {
        margin: auto 0;
    }
    &__heading {
        @media (max-width: $break_xs) {
            line-height: 34px;
        }
        color: $yellow;
        margin-bottom: 18px;
    }

    &__text {
        @media (max-width: $break_xl) {
            font-size: fontSize($text-large, $text-normal)
        }
        @media (max-width: $break_xs) {
            font-size: rem($text-normal);
        }
        @media (max-width: $break_sm) {
            margin-bottom: 0;
        }
        margin-bottom: 56px;
        font: {
            size: rem($text-large);
        }
        color: $white;
    }
    &__slide {
        padding-bottom: 10px;
        &-wrp {
            @include col();
            @include size(8);
            @include size-md(10);
            @include size-sm(12);
        }
    }
    &__square {
        position: absolute;
        left: 18px;
        bottom: 2px;
        transition: bottom $duration linear;
    }
    &__btn {
        @media (max-width: $break_md) {
            display: none;
        }
        &:hover {
            .title-slider__square {
                bottom: -5px;
                transition: bottom $duration linear;
            }
        }
    }
}