mixin footer()
    footer.footer
        .container
            .row.footer__row
                span.footer__text Copyright © automaster.uz 2019-2029
                span.footer__text Created by 360 creative agency