include ../menu/menu
include ../more/more
mixin main-nav()
    .main-nav
        .container
            .row
                .main-nav__left
                    +menu
                .main-nav__right
                    +more