extends ../layouts/default

include ../../blocks/components/modal/modal
include ../../blocks/modules/products-sub/products-sub
include ../../blocks/components/catalog-modal/catalog-modal

include ../../blocks/components/hamburger/hamburger
include ../../blocks/modules/main-nav/main-nav
include ../../blocks/modules/bg-slider/bg-slider
include ../../blocks/modules/title-slider/title-slider
include ../../blocks/components/pagination/pagination
include ../../blocks/modules/sidebar/sidebar
include ../../blocks/components/breadcrumbs/breadcrumbs
include ../../blocks/components/getback/getback
include ../../blocks/components/products-filter/products-filter
include ../../blocks/modules/goods/goods

block variables
	- const title = "New Page";
	- const page = 'catalog';
	- const breadcrumbsText = ['Главная', 'Каталог товаров', 'Оборудование для заправки кондиционеров'];
	- const activeIndex = 1;

block content
	.site-container#app
		+modal
		+catalog-modal
		+products-sub
		header
			+hamburger({ parentClass: 'hamburger_theme_blue' })
			+sidebar
			.header__content
				+main-nav({
					class: 'main-nav_theme_blue header__main-nav',
					containerClass: 'header__container'
				})
		main.main
			section.main__breadcrumbs
				.container
					.row
						+breadcrumbs(
								{
								textArray: breadcrumbsText,
								activeIndex: activeIndex,
								}
							)
			section.section
				.container
					.row
						.getback-link
							.getback-link__link
								+getback({adaptiveText: 'Назад в каталог'})
							+products-filter({
								parentClass: 'getback-link__filter',
								text: 'Сортировать:', 
								firstItemList: filterItems,
							})
			section.section
				.container
					.row
						.main__goods
							+goods
block scripts
	//- sites scripts
	include ../layouts/scripts