.sidebar {
    padding: {
        top: rem(16);
        right: rem(11);
        bottom: rem(16);
        left: rem(11);
    }
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: rem(80);
    background-color: $light-blue;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &:hover {
        .logo-bg {
            transition: fill $duration linear;
            fill: $light-blue;
        }
        .logo-letter {
            transition: fill $duration linear;
            fill: $yellow;
        }
    }
    &__wrp {
        margin: 0 auto;
    }
    &__title {
        margin-left: -1.75rem;
        transform: rotate(-90deg);
        position: relative;
        white-space: nowrap;
    }
    &__text {
        font: {
            size: rem($text-normal);
            weight: 600;
        }
        color: $white;
        }
    &__icon {
        position: absolute;
        top: rem(-2);
        left: rem(-40);
    }
}