mixin sidebar()
    .sidebar
        +icon({
            class: 'svg-icon svg-icon_theme_blue svg-logo',
            name: 'logo'
        })
        .sidebar__wrp
            .sidebar__title
                p.sidebar__text Каталог товаров
                +icon({
                    class: 'svg-icon svg-icon_theme_white sidebar__icon',
                    name: 'grid'
                })