.sidebar {
    padding: {
        top: rem(16);
        right: rem(11);
        bottom: rem(16);
        left: rem(11);
    }
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: rem(80);
    background: $light-blue;
    transition: background $duration linear;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &_active {
        background: $yellow;
        transition: background $duration linear;
    }
    &:hover {
        .svg-icon_theme_blue {
            color: $light-blue;
            use {
                fill: $yellow;
            }
        }
        .svg-icon_theme_white {
            use {
                fill: $light-blue;
            }
        }
        .sidebar__text {
            color: $light-blue;
            transition: color $duration linear;
        }
    }
    &__wrp {
        margin: auto auto;
    }
    &__title {
        margin-left: -1.75rem;
        transform: rotate(-90deg);
        position: relative;
        white-space: nowrap;
    }
    &__text {
        font: {
            size: rem($text-normal);
            weight: 600;
        }
        color: $white;
        transition: color $duration linear;
        }
    &__icon {
        position: absolute;
        top: rem(-2);
        left: rem(-40);
    }
}