mixin offer(value, text, picture, parentClass = '')
    .offer(class= parentClass)
        +icon({
            class: value.class,
            name: value.name
        })
        .offer__text 
            p.offer__title #{text}
            p.offer__subtitle 24 позиций
        .offer__interior
            +picture({
                path: picture.path,
                name: picture.name,
                imgType: picture.imgType,
                sourceType: picture.sourceType,
                ImgClass: picture.class,
            })