.offer {
    @media (max-width: $break_sm) {
        padding-bottom: rem(15);
    }
    padding: {
        top: rem(32);
        right: rem(32);
        bottom: rem(39);
        left: rem(32)
    }
    cursor: pointer;
    transition: background $duration linear;
    position: relative;
    &__text {
        position: relative;
        top: 0;
        transition: top $duration linear;
    }
    &__title {
        @media (max-width: $break_xl) {
            font-size: fontSize($text-big, $text-normal);
        }
        margin-bottom: rem(6);
        font: {
            size: rem($text-big);
            weight: 600;
        };
        color: $white;
        transition: color $duration linear;
    }
    &__subtitle {
        @media (max-width: $break_xl) {
            font-size: fontSize(17, $text-smallest);
        }
        font {
            size: rem(17);
        }
        @media (max-width: $break_sm) {
            position: absolute;
        }
        visibility: hidden;
        opacity: 0;
        transition: {
            property: visible, opacity;
            duration: $duration;
            timing-function: linear;
        }
        color: $white;
    }
    &__icon {
        width: rem(56);
        height: rem(56);
        min-width: rem(56);
        min-height: rem(56);
        margin: {
            bottom: rem(16.5);
        }
        transition: {
            property: opacity, visibility;
            duration: $duration;
            timing-function: linear;
        };
    }
    &__picture {
        @media (max-width: $break_sm) {
            max-width: 30%;
        }
        position: absolute;
        opacity: 0;
        right: rem(-40);
        visibility: hidden;
        bottom: -30px;
        transition: {
            property: right, opacity, visibility;
            duration: $duration;
            timing-function: linear;
        }
    }
    &:hover {
        background: $yellow;
        transition: background $duration linear;
        transition-delay: .3s;
        .offer__icon {
            opacity: 0;
            visibility: hidden;
            transition: {
                property: opacity, visibility;
                duration: $duration;
                timing-function: linear;
            };
        }
        .offer__text {
            $iconWidth: rem(56);
            $iconMarginBottom: rem(16.5);
            @media (max-width: $break_sm) {
                top: rem(-5);
            }
            top: calc(-#{$iconWidth} + -#{$iconMarginBottom});
            transition: top $duration ease-in-out;
        }
        .offer__title {
            color: $light-blue;
            transition: {
                property: color;
                duration: $duration;
                timing-function: linear;
            }
        }
        .offer__subtitle {
            visibility: visible;
            opacity: 1;
            position: relative;
            transition: {
                property: visible, opacity;
                duration: $duration;
                timing-function: linear;
            }
        }
        .offer__picture {
            right: 0;
            opacity: 1;
            visibility: visible;
            transition: all $duration linear;
        }
    }
}

.products__slide {
    order: 0 !important;
}