.offer {
    @media (max-width: $break_sm) {
        padding: {
            right: 7px;
            left: 7px;
            bottom: 15px;
        }
    }
    padding: {
        top: 32px;
        right: 32px;
        bottom: 39px;
        left: 32px
    }
    cursor: pointer;
    transition: background $duration linear;
    position: relative;
    &__wrapper {
        @media (max-width: $break_sm) {
            display: flex;
            align-items: center;
        }
    }
    &__text {
        position: relative;
        top: 0;
        transition: top $duration linear;
    }
    &__title {
        @media (max-width: $break_xl) {
            font-size: fontSize($text-big, $text-normal);
        }
        margin-bottom: 6px;
        font: {
            size: rem($text-big);
            weight: 600;
        };
        color: $white;
        transition: color $duration linear;
    }
    &__subtitle {
        @media (max-width: $break_xl) {
            font-size: fontSize(17, $text-smallest);
        }
        font {
            size: rem(17);
        }
        @media (max-width: $break_sm) {
            position: absolute;
        }
        visibility: hidden;
        opacity: 0;
        transition: {
            property: visible, opacity;
            duration: $duration;
            timing-function: linear;
        }
        color: $white;
    }
    &__icon {
        @media (max-width: $break_sm) {
            margin-right: 28px;
        }
        width: 56px;
        height: 56px;
        min-width: 56px;
        min-height: 56px;
        margin: {
            bottom: 5px;
        }
        transition: {
            property: opacity, visibility;
            duration: $duration;
            timing-function: linear;
        };
    }
    &__picture {
        @media (max-width: $break_sm) {
            max-width: 30%;
        }
        position: absolute;
        opacity: 0;
        right: -40px;
        visibility: hidden;
        bottom: -30px;
        transition: {
            property: right, opacity, visibility;
            duration: $duration;
            timing-function: linear;
        }
    }
    &:hover {
        background: $yellow;
        transition: background $duration linear;
        transition-delay: .3s;
        .offer__icon {
            opacity: 0;
            visibility: hidden;
            transition: {
                property: opacity, visibility;
                duration: $duration;
                timing-function: linear;
            };
        }
        .offer__text {
            $iconWidth: 56px;
            $iconMarginBottom: 16.5px;
            @media (max-width: $break_sm) {
                top: -5px;
            }
            top: calc(-#{$iconWidth} + -#{$iconMarginBottom});
            transition: top $duration ease-in-out;
        }
        .offer__title {
            color: $light-blue;
            transition: {
                property: color;
                duration: $duration;
                timing-function: linear;
            }
        }
        .offer__subtitle {
            visibility: visible;
            opacity: 1;
            position: relative;
            transition: {
                property: visible, opacity;
                duration: $duration;
                timing-function: linear;
            }
        }
        .offer__picture {
            right: 0;
            opacity: 1;
            visibility: visible;
            transition: all $duration linear;
        }
    }
}

.products__slide {
    order: 0 !important;
}