include ../../components/offer/offer
mixin products({slider, iconName, offerText, parentClass, containerClass, textClass, wrapperClass})
    section.products
        .container(class= containerClass ? containerClass : '')
            if !slider
                .products__title
                    .products__heading.h2-heading.text_color_white Продукция, которой мы вас радуем
                    .products__amount
                        p.products__number 246
                        .products__text
                            .products__top Позиций
                            .products__bottom На данный момент в наших руках, для вашего пользования
                .catalog-modal__box
                    - for (let i = 0; i < iconName.length; i += 1) {
                        .products__slide.catalog-modal__item
                            +offer({
                                    name: 'menu-' + iconName[i], 
                                    class: 'svg-icon svg-icon_theme_yellow offer__icon catalog-modal__icon',
                                    parentClass: 'catalog-modal__offer'
                                }, 
                                offerText,
                                {
                                    path: 'offer',
                                    name: i + 1,
                                    imgType: 'png',
                                    sourceType: 'webp',
                                    class: 'offer__picture',
                                },
                                parentClass,
                                wrapperClass,
                                textClass)
                    - }
            if slider
                .row
                    .products__title
                        .products__heading.h2-heading.text_color_white Продукция, которой мы вас радуем
                        .products__amount
                            p.products__number 246
                            .products__text
                                .products__top Позиций
                                .products__bottom На данный момент в наших руках, для вашего пользования
                    .products__items
                            .products__slider.swiper-container
                                .products__wrapper.swiper-wrapper
                                    - for (let i = 0; i < iconName.length; i += 1) {
                                        .products__slide.swiper-slide
                                            +offer({
                                                    name: 'menu-' + iconName[i], 
                                                    class: 'svg-icon svg-icon_theme_yellow offer__icon'
                                                }, 
                                                offerText,
                                                {
                                                    path: 'offer',
                                                    name: i + 1,
                                                    imgType: 'png',
                                                    sourceType: 'webp',
                                                    class: 'offer__picture',
                                                },
                                                parentClass)
                                    - }
                                .products__pagination