.products {
    @media (max-width: $break_sm) {
        padding: {
            top: rem(49);
            bottom: rem(41);
        }
    }
    padding: {
        top: rem(98);
        bottom: rem(56);
    }
    background: $light-blue;
    &__title {
        @media (max-width: $break_sm) {
            flex-wrap: wrap;
        }
        display: flex;
        justify-content: space-between;
        margin: {
            bottom: rem(45);
        };
    }
    &__heading {
        @media (max-width: $break_sm) {
            margin: {
                bottom: rem(16);
            }
        }
        @include col();
        @include size(5);
        @include size-xl(6);
        @include size-sm(12);
        margin-top: rem(-10);
        color: $white;
    }
    &__amount {
        @media (max-width: $break_lg) {
            align-items: center;
        }
        @include col();
        @include size(5);
        @include size-md(6);
        @include size-sm(12);
        display: flex;
        flex-wrap: nowrap;
    }
    &__number {
        @media (max-width: $break_xl) {
            font-size: fontSize(96, 45.4151);
        }
        @media (max-width: $break_xs) {
            font-size: rem(45.4151);
        }
        @media (max-width: $break_sm) {
            line-height: inherit;
            margin: {
                right: rem(12.52);
            }
        }
        font: {
            size: rem(96);
            weight: 900;
        }
        line-height: rem(76);
        color: $yellow;
        margin-right: rem(32);
    }
    &__text {
        @media (max-width: $break_sm) {
            padding: {
                top: rem(10);
            };
        }
        color: $yellow;
    }
    &__top {
        @media (max-width: $break_xl) {
            font-size: fontSize($text-big, $text-smallest);
        }
        @media (max-width: $break_xs) {
            font-size: rem($text-smallest);
        }
        @media (max-width: $break_sm) {
            margin: {
                bottom: rem(2);
            }
        }
        font: {
            size: rem($text-big);
        }
        margin: {
            bottom: rem(8);
        };
    }
    &__bottom {
        @media (max-width: $break_xl) {
            font-size: fontSize($text-normal, 8);
        }
        @media (max-width: $break_xs) {
            font-size: rem(8);
        }
        font: {
            size: rem($text-normal);
        }
    }
    &__items {
        width: 100%;
    }
    &__slide {
        transform: translateX(0.0625rem);
    }
    &__slider {
        padding: {
            bottom: rem(30);
        }
    }
    &__pagination {
        bottom: 0 !important;
    }
    &__pagination-bullet {
        width: rem(43);
        height: rem(3);
        background: $white;
        opacity: .5;
        transition: opacity $duration linear;
        display: inline-block;
        margin: {
            top: 0;
            right: rem(5);
            bottom: 0;
            left: rem(5);
        }
        &_active {
            background-color: $yellow;
            opacity: 1;
            transition: opacity $duration linear;
        }
    }
    &__slide {
        border-right: {
            style: solid;
            color: rgba($white, .3);
            width: 0.0625rem;
        }
        &:nth-last-child(n+5) {
            border-bottom: {
            style: solid;
            color: rgba($white, .3);
            width: 0.0625rem;
            }
        }
        @media (max-width: $break_lg) {
            &:nth-last-child(n+4) {
                border-bottom: {
                style: solid;
                color: rgba($white, .3);
                width: 0.0625rem;
                }
            }
        }
        @media (max-width: $break_md) {
            &:nth-last-child(n+4) {
                border-bottom: none
            }
            &:nth-last-child(n+5) {
                border-bottom: {
                style: solid;
                color: rgba($white, .3);
                width: 0.0625rem;
                }
            }
            border-right: none;
            &:nth-child(2n+1) {
                border-right: {
                    style: solid;
                    color: rgba($white, .3);
                    width: 0.0625rem;
                }
            }
            &:nth-child(7) {
                border-right: none;
            }
            &:nth-child(6) {
                border-right: {
                    style: solid;
                    color: rgba($white, .3);
                    width: 0.0625rem;
                }
            }
        }
        @media (max-width: $break_sm) {
            &:nth-child(2n+1) {
                border-right: none;
            }
            &:nth-child(6) {
                border-right: none;
            }
            &:nth-last-child(n+5) {
                border-right: none;
            }
        }
    }
}