.products {
    @include padding('top', 'section');
    @include padding('bottom', 'section');

    background: $light-blue;
    &__title {
        @media (max-width: $break_sm) {
            flex-wrap: wrap;
        }
        display: flex;
        justify-content: space-between;
        @include margin('bottom', 'heading');
    }
    &__heading {
        @media (max-width: $break_sm) {
            margin: {
                bottom: rem(16);
            }
        }
        @include col();
        @include size(5);
        @include size-xl(6);
        @include size-sm(12);
        margin-top: rem(-10);
    }
    &__amount {
        @media (max-width: $break_lg) {
            align-items: center;
        }
        @include col();
        @include size(5);
        @include size-md(6);
        @include size-sm(12);
        display: flex;
        flex-wrap: nowrap;
    }
    &__number {
        @media (max-width: $break_xl) {
            font-size: fontSize(96, 45.4151);
        }
        @media (max-width: $break_xs) {
            font-size: rem(45.4151);
        }
        @media (max-width: $break_sm) {
            line-height: inherit;
            margin: {
                right: rem(12.52);
            }
        }
        font: {
            size: rem(96);
            weight: 900;
        }
        line-height: rem(76);
        color: $yellow;
        margin-right: rem(32);
    }
    &__text {
        @media (max-width: $break_sm) {
            padding: {
                top: rem(10);
            };
        }
        color: $yellow;
    }
    &__top {
        @media (max-width: $break_xl) {
            font-size: fontSize($text-big, $text-smallest);
        }
        @media (max-width: $break_xs) {
            font-size: rem($text-smallest);
        }
        @media (max-width: $break_sm) {
            margin: {
                bottom: rem(2);
            }
        }
        font: {
            size: rem($text-big);
        }
        margin: {
            bottom: rem(8);
        };
    }
    &__bottom {
        @media (max-width: $break_xl) {
            font-size: fontSize($text-normal, 8);
        }
        @media (max-width: $break_xs) {
            font-size: rem(8);
        }
        font: {
            size: rem($text-normal);
        }
    }
    &__items {
        width: 100%;
        overflow: hidden;
        margin: {
            right: rem(15);
            left: rem(15);
        }
    }
    &__slide {
        transform: translateX(0.0625rem);
    }
    &__slider {
        padding: {
            bottom: rem(30);
        }
    }
    &__pagination {
        bottom: 0 !important;
    }
    &__pagination-bullet {
        width: rem(43);
        height: rem(3);
        background: $white;
        opacity: .5;
        transition: opacity $duration linear;
        display: inline-block;
        margin: {
            top: 0;
            right: rem(5);
            bottom: 0;
            left: rem(5);
        }
        &_active {
            background-color: $yellow;
            opacity: 1;
            transition: opacity $duration linear;
        }
    }
    &__slide {
        &:not(:nth-of-type(4n+1)) {
            border-left: {
                style: solid;
                color: rgba($white, .3);
                width: 0.0625rem;
            }
        }
        &:nth-last-of-type(n+5) {
            border-bottom: {
                style: solid;
                color: rgba($white, .3);
                width: 0.0625rem;
            }
        }
        //1920
        // 992
        @media (max-width: $break_lg) {
            &:not(:nth-of-type(4n+1)) {
                border-left: none
            }
            &:nth-last-of-type(n+5) {
                border-bottom: none;
            }
            &:not(:nth-of-type(3n+1)) {
                border-left: {
                    style: solid;
                    color: rgba($white, .3);
                    width: 0.0625rem;
                }
            }
            &:nth-last-of-type(n+4) {
                border-bottom: {
                    style: solid;
                    color: rgba($white, .3);
                    width: 0.0625rem;
                }
            }
        }
        // 992
        // 768
        @media (max-width: $break_md) {
            &:not(:nth-of-type(3n+1)) {
                border-left: none;
            }
            &:nth-last-of-type(n+4) {
                border-bottom: none;
            }
            &:not(:nth-of-type(2n+1)) {
                border-left: {
                    style: solid;
                    color: rgba($white, .3);
                    width: 0.0625rem;
                }
            }
            &:nth-last-of-type(n+5) {
                border-bottom: {
                    style: solid;
                    color: rgba($white, .3);
                    width: 0.0625rem;
                }
            }
        }
        @media (max-width: $break_sm) {
            &:not(:nth-of-type(2n+1)) {
                border-left: none;
            }
        }
    }
}