.advantages {
    background: $white;
    @include padding('top', 'section');
    @include padding('bottom', 'section');
    &__left {
        @media (max-width: $break_lg) {
            @include shift-padding-right(0);
        }
        @media (max-width: $break_sm) {
            margin: {
                bottom: rem(21.42);
            }
        }
        @include col();
        @include size(6);
        @include shift-padding-right(1);
        @include size-sm(12);
    }
    &__right {
        @include col();
        @include size(6);
        @include size-sm(12);
    }
    &__title {
        @media (max-width: $break_xl) {
            font-size: fontSize($text-bigger, $text-large);
        }
        @media (max-width: $break_xs) {
            font-size: rem($text-large);
        }
        @media (max-width: $break_sm) {
            margin: {
                bottom: rem(22.1)
            }
        }
        font: {
            size: rem($text-bigger);
        }
        color: $light-blue;
        margin: {
            bottom: rem(55);
        }
    }
    &__text {
        @media (max-width: $break_xl) {
            font-size: fontSize($text-normal, $text-small);
        }
        @media (max-width: $break_md) {
            line-height: rem(24);
        }
        @media (max-width: $break_xs) {
            font-size: rem($text-small);
        }
        font: {
            size: rem($text-normal);
        }
        line-height: rem(32);
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        @media (max-width: $break_lg) {
            padding: {
                right: 0;
            };
        }
        @media (max-width: $break_sm) {
            margin: {
                right: rem(15);
                left: rem(15);
            }
        }
        @include size-sm(12);
        width: 50%;
        @include shift-padding-right(1);
        margin: {
            bottom: rem(39);
        };
    }
    &__icon {
        @media (max-width: $break_sm) {
            min-width: rem(24);
            min-height: rem(24);
            width: rem(24);
            height: rem(24);
            margin: {
                right: rem(22.23);
                bottom: 0;
            };
        }
        min-width: rem(48);
        min-height: rem(48);
        width: rem(48);
        height: rem(48);
        margin: {
            bottom: rem(21.75);
        };

    }
    &__odds-item {
        @media (max-width: $break_sm) {
        display: flex;
        flex-wrap: nowrap;
        }
    }
}