.advantages {
    background: $white;
    @include padding('top', 'section');
    @include padding('bottom', 'section');
    &__left {
        @media (max-width: $break_lg) {
            @include shift-padding-right(0);
        }
        @media (max-width: $break_sm) {
            margin: {
                bottom: 21px;
            }
        }
        @include col();
        @include size(6);
        @include shift-padding-right(1);
        @include size-sm(12);
    }
    &__right {
        @include col();
        @include size(6);
        @include size-sm(12);
    }
    &__title {
        @media (max-width: $break_xl) {
            font-size: fontSize($text-bigger, $text-large);
        }
        @media (max-width: $break_xs) {
            font-size: rem($text-large);
        }
        @media (max-width: $break_sm) {
            margin: {
                bottom: 22px;
            }
        }
        font: {
            size: rem($text-bigger);
            weight: 600;
        }
        color: $light-blue;
        margin: {
            bottom: 55px;
        }
    }
    &__text {
        @media (max-width: $break_xl) {
            font-size: fontSize($text-normal, $text-small);
        }
        @media (max-width: $break_md) {
            line-height: 24px;
        }
        @media (max-width: $break_xs) {
            font-size: rem($text-small);
        }
        font: {
            size: rem($text-normal);
        }
        line-height: 32px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        @media (max-width: $break_lg) {
            padding: {
                right: 0;
            };
        }
        @media (max-width: $break_sm) {
            margin: {
                right: 15px;
                left: 15px;
            }
        }
        @include size-sm(12);
        width: 50%;
        @include shift-padding-right(1);
        margin: {
            bottom: 39px;
        };
    }
    &__icon {
        @media (max-width: $break_sm) {
            min-width: 24px;
            min-height: 24px;
            width: 24px;
            height: 24px;
            margin: {
                right: 22px;
                bottom: 0;
            };
        }
        min-width: 48px;
        min-height: 48px;
        width: 48px;
        height: 48px;
        margin: {
            bottom: 22px;
        };

    }
    &__odds-item {
        @media (max-width: $break_sm) {
        display: flex;
        flex-wrap: nowrap;
        }
    }
}