.main-form {
    @include padding('bottom', 'section');
    &__wrapper {
        @media (max-width: $break_sm) {
            margin-left: 0;
            margin-right: 0;
        }
        position: relative;
        @include padding('top', 'section');
        @include padding('bottom', 'section');
        background: $light-blue;
        @include col();
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__heading {
        @media (max-width: $break_sm) {
            padding-left: 0;
            margin-bottom: 47px;
        }
        font-weight: 600;
        @include margin('bottom', 'heading');
        @include col();
        @include size(12);
        @include shift-padding-left(1);
    }
    &__content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    &__left {
        @media (max-width: $break_sm) {
            padding-left: 0;
            margin-bottom: 37px;
        }
        @include col();
        @include size(5);
        @include size-lg(6);
        @include size-sm(12);
        @include shift-padding-left(1);
    }
    &__right {
        @media (max-width: $break-lg) {
            padding-left: 0;
        }
        @include col();
        @include size(7);
        @include size-lg(6);
        @include size-sm(12);
        padding-left: 60px;
    }
    &__right-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    &__contact + &__contact {
        @media (max-width: $break_sm) {
            margin-top: 22px;
        }
        margin-top: 69px;
    }
    &__form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__col {
        width: 50%;
    }
    &__btn {
        margin-left: 35px;
    }
    &__square {
        position: absolute;
        bottom: 12px;
        left: 40px;
        width: 24px;
        height: 24px;
    }
}