.main-nav {
    &__row {
        @media (max-width: $break_md) {
            flex-direction: column;
            justify-content: flex-start;

        }
        height: 100%;
        display: flex;
    }
    &__right {
        @media (max-width: $break_md ) {
            display: none;
        }
        @include col();
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }
    &__left {
        display: flex;
        align-items: center;
        @include col();
        @media (max-width: $break_md) {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: 0;
            margin: 0;
            z-index: 10;
            overflow-x: hidden;
            overflow-y: scroll;
            visibility: hidden;
            pointer-events: none;
            opacity: 0;
            transition: {
                property: opacity, visibility;
                delay: 0s, .5s;
                duration: $duration;
                timing-function: linear;
            };

            &_active {
                z-index: 10;
                visibility: visible;
                pointer-events: inherit;
                opacity: 1;
                transition: {
                    property: opacity;
                    duration: .3s;
                    timing-function: linear;
                }
            }
        }
    }
}

@import '../menu/menu';
@import '../info/info';
@import '../more/more';