include ../menu/menu
include ../more/more
mixin main-nav(value)
    section.main-nav(class= value ? value.class : '')
        .container
            .row.main-nav__row
                .main-nav__left
                    +menu
                .main-nav__right
                    +more