.main-nav {
    &__row {
        display: flex;
        justify-content: space-between;
    }
    &__right {
        @include col()
    }
    &__left {
        display: flex;
        align-items: center;
        @include col();
    }
}

@import '../menu/menu';
@import '../more/more';