.main-nav {
    &__row {
        @media (max-width: $break_md) {
            flex-direction: column;
            justify-content: flex-start;

        }
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__right {
        @media (max-width: $break_md ) {
            display: none;
        }
        @include col();
    }
    &__left {
        display: flex;
        align-items: center;
        @include col();
        @media (max-width: $break_md) {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: 0;
            padding-left: rem(40);
            margin: 0;
            margin-left: -40px;
            z-index: 10;
            visibility: hidden;
            pointer-events: none;
            opacity: 0;
            transition: {
                property: opacity, visibility;
                delay: 0s, .5s;
                duration: $duration;
                timing-function: linear;
            };
            overflow: scroll;

            &_active {
                z-index: 10;
                visibility: visible;
                pointer-events: inherit;
                opacity: 1;
                transition: {
                    property: opacity;
                    duration: .3s;
                    timing-function: linear;
                }
            }
        }
    }
}

@import '../menu/menu';
@import '../info/info';
@import '../more/more';