extends layouts/default
include helpers/mixins
include ../blocks/modules/header/header
include ../blocks/components/modal/modal
include ../blocks/modules/main/main

block variables
	- const title = "gulp-pug-starter"

block content
	.site-container
		+modal
		+header
		+main
	
	

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
