include ../../components/advantages/advantages
include ../../components/products/products
include ../../components/solutions/solutions
mixin main()
    main.main
        +advantages
        +products
        +solutions