include ../../components/advantages/advantages
include ../../components/products/products
include ../../components/solutions/solutions
include ../../components/main-form/main-form
mixin main()
    - const iconName = ['lift', 'speed', 'oil', 'cabel', 'blowtorch', 'lift', 'pressure', 'wrench', 'blowtorch', 'jack', 'carcass', 'tire']
    - const offerText = 'Подъёмные оборудования'
    - const parentClass = 'products__offer'
    main.main
        +advantages
        +products({slider: true, iconName, offerText, parentClass})
        +solutions
        +main-form