include ../../components/advantages/advantages
include ../../components/products/products
include ../../components/solutions/solutions
include ../../components/main-form/main-form
mixin main()
    main.main
        +advantages
        +products
        +solutions
        +main-form