.contact {
    &__paragraph {
        font: {
            size: rem($text-normal);
            weight: 600;
        }
        color: $yellow;
    }
    &__data {
        font: {
            size: rem($text-normal);
        }
        color: $white;
    }
    &__label {
        display: flex;
        margin: {
            bottom: rem(10);
        }
    }
    &__icon {
        margin: {
            right: rem(14);
        };
    }
    &_icon_top {
        .contact__label {
            flex-wrap: wrap;
        }
        .contact__image {
            width: 100%;
            margin-bottom: rem(10);
        }
    }
}