.pagination {
    @media (max-width: $break_md) {
        margin-bottom: 47px;
    }
    margin-bottom: 95px;
    &__text {
        @media (max-width: $break_sm) {
            font-size: rem($text-small);
        }
        @media (max-width: $break_md) {
            font-size: rem(12);
        }
        font: {
            size: rem($text-small);
            weight: 600;
        }
        color: $white;
        &_active {
            color: $yellow;
        }
        margin-bottom: 15px;
    }
    &__item {
        padding-bottom: 1px;
    }
    &__line {
        width: 100%;
        height: 1px;
        background-color: $white;
        position: relative;
        &:before {
            content: '';
            width: 0;
            transition: width 1s linear;
            height: 3px;
            background-color: $yellow;
            position: absolute;
            bottom: -1px;
            left: inherit;
            right: 0;
        }
        &_active {
            &:before {
                width: 100%;
                transition: width (($duration + .2) * 10) linear;
                right: auto;
            }
        }
    }
}