mixin pagination(value)
    section.pagination(class= value ? value.class : '')
        .container
            .row.pagination__row
                .pagination__item
                    p.pagination__text Новые поступления
                    .pagination__line
                .pagination__item
                    p.pagination__text Открытие нового офиса
                    .pagination__line
                .pagination__item
                    p.pagination__text Запуск нового проекта
                    .pagination__line