h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: $font-family-base;
    background-color: $body-bg;
    color: $primary-color;
    min-width: 320px;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.site-container {
    @media (max-width: $break_md) {
        padding: {
            left: 40px;
        };
    }
    padding-left: 80px;
}

.svg-icon {
    width: 24px;
    height: 24px;
    transition: color $duration linear;
    color: $blue;
    &_theme {
        &_yellow {
            use {
                transition: fill $duration linear;
                fill: $yellow;
            }
        }
        &_white {
            use {
                transition: fill $duration linear;
                fill: $white;
            }
        }
        &_blue {
            use {
                transition: fill $duration linear;
                fill: $light-blue;
            }
        }
    }
}

.h1-heading {
    @media (max-width: $break_xl) {
        font-size: fontSize(64, 28);
    }
    @media (max-width: $break_xs) {
        font-size: rem(28);
    }
    font-size: rem(64);
}

.h2-heading {
    @media (max-width: $break_xl) {
        font-size: fontSize(48, 32);
    }
    @media (max-width: $break_xs) {
        font-size: rem(32);
    }
    font-size: rem(48);
}

.h3-heading {
    font-size: rem($h3);
}

.text {
    font: {
        size: rem($text-normal);
        weight: 300;
    }
    color: $dark-blue;
    &_smallest {
        font-size: rem($text-smallest);
    }
    &_small {
        font-size: rem($text-small);
    }
    &_large {
        font-size: rem($text-large);
    }
    &_big {
        font-size: rem($text-big);
    }
    &_bigger {
        font-size: rem($text-bigger);
    }
    &_color {
        &_blue {
            color: $blue;
        }
        &_light-blue {
            color: $light-blue;
        }
        &_yellow {
            color: $yellow;
        }
        &_white {
            color: $white;
        }
        &_grey {
            color: $grey;
        }
    }
}

.square {
    display: block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    &_theme {
        &_yellow {
            background-color: $yellow;
        }
        &_blue {
            background-color: $light-blue;
        }
    }
}