h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: $font-family-base;
    background-color: $body-bg;
    color: $primary-color;
    min-width: 320px;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: $light-blue;
}

::-webkit-scrollbar-thumb {
    background-color: $yellow;
    border-radius: 5px;
}

.no-events {
    pointer-events: none;
    cursor: pointer;
}

.overflow-hidden {
    overflow-x: hidden;
}

.site-container {
    @media (max-width: $break_md) {
        padding: {
            left: 40px;
        };
    }
    padding-left: 80px;
}

.svg-icon {
    width: 24px;
    height: 24px;
    transition: color $duration linear;
    color: $blue;
    &_theme {
        &_yellow {
            use {
                transition: fill $duration linear;
                fill: $yellow;
            }
        }
        &_white {
            use {
                transition: fill $duration linear;
                fill: $white;
            }
        }
        &_blue {
            use {
                transition: fill $duration linear;
                fill: $light-blue;
            }
        }
    }
}

.h1-heading {
    @media (max-width: $break_xl) {
        font-size: fontSize(64, 28);
    }
    @media (max-width: $break_xs) {
        font-size: rem(28);
    }
    font-size: rem(64);
}

.h2-heading {
    @media (max-width: $break_xl) {
        font-size: fontSize(48, 32);
    }
    @media (max-width: $break_xs) {
        font-size: rem(32);
    }
    font-size: rem(48);
}

.h3-heading {
    font-size: rem($h3);
}

.text {
    font: {
        size: rem($text-normal);
        weight: 300;
    }
    color: $dark-blue;
    &_smallest {
        font-size: rem($text-smallest);
    }
    &_small {
        font-size: rem($text-small);
    }
    &_large {
        font-size: rem($text-large);
    }
    &_big {
        font-size: rem($text-big);
    }
    &_bigger {
        font-size: rem($text-bigger);
    }
    &_color {
        &_blue {
            color: $blue;
        }
        &_light-blue {
            color: $light-blue;
        }
        &_yellow {
            color: $yellow;
        }
        &_white {
            color: $white;
        }
        &_grey {
            color: $grey;
        }
    }
    &_weight {
        &_bold {
            font-weight: 700;
        }
    }
}

.square {
    display: block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    &_theme {
        &_yellow {
            background-color: $yellow;
        }
        &_blue {
            background-color: $light-blue;
        }
    }
}

// header
.header {
    @media (max-width: $break_md) {
        height: max(100vh, 340px);
    }
    position: relative;
    height: max(100vh, 550px);
    &__content {
        @media (max-width: $break_md) {
            position: relative;
            padding-top: 0; 
        }
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 37px;
    }
    &__container {
        height: 100%;
    }
    &__main-nav {
        @include margin('bottom', 'heading');
    }
    &__pagination {
        margin-top: auto;
        @include margin('bottom', 'heading');
    }
}
// header ends

// main 
.main__breadcrumbs {
    @media (max-width: $break_md) {
        margin-bottom: 0;
    }
    margin-bottom: 64px;
}

.getback-link {
    @media (max-width: $break_md) {
        display: inline-block;
        position: absolute;
        top: 11px;
    }
    &__wrp {
        @include col();
        @include size(12);
        display: flex;
        justify-content: space-between;
    }
    &__link {
        @include col();
        @include size(6);
    }
    &__filter {
        @extend .getback-link__link;
    }
}

// footer 
.footer {
    background: $grey;
    padding: 14px 0;
    &__row {
        justify-content: space-between;
    }
    &__text {
        display: inline-block;
        margin: {
            right: 15px;
            left: 15px;
        }
        font: {
            size: rem($text-smallest);
        }
        line-height: 24px;
        color: $dark;
        opacity: .5;
    }
}
// footer ends